body {
  font-family: "Playfair Display", serif;
  background-color: #fcfbf7;
}

header {
  position: relative;
}

h1 {
font-size: 60px;
font-weight: 500;
margin-top: 10px;
margin-bottom: 50px;
color: #42492b;
line-height: 1.5;
}

h2 {
  color: #42492b;
}

form {
  display: flex;
  
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}

a {
  color: #24251d;
}


.container {
  margin: 0 auto;
  width: 1000px;
}

.banner-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 3px;
}

.banner-text {
  position: absolute;
  top: 200px; 
  left: 68px;
  font-size: 80px;
  font-weight: 800;
  color: #fcf8ea;
  
}

.form-title {
  font-size: 58px;
  font-weight: 500;
  color: #24251d;;
  padding-bottom: 22px;
}

.form-wrapper {
  background-color: #fcfcf9;
  padding: 22px;
}

.instructions {
  padding: 16px;
  border: 1px solid #24251d;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #24251d;
  border-radius: 22px;
  font-family: "Playfair Display", serif;
}

.submit-button {
  margin-left: 22px;
  background-color: #242424;
  border: none;
  color: #fcf8ea;
  border-radius: 22px;
  padding: 14px 24px;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #42492b;
  transition: 150ms ease-in-out;
}
.recipe-details {
  font-size: 16px;
  background-color: #fcfcf9;
  padding-left: 22px;
  padding-right: 22px;
  line-height: 1.5;
  border-left: 2px solid #494949;

}

.hidden {
  display: none;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}