body {
  font-family: "Playfair Display", serif;
  background-color: #262823;
}

header {
  position: relative;
}

h1 {
font-size: 60px;
font-weight: 500;
margin-top: 10px;
margin-bottom: 32px;
color: #cbbc86;
line-height: 1.5;
}

h2 {
  color: #cbbc86;
  margin-bottom: 8px;
}

form {
  display: flex;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  color: #dad4c1;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

li {
  color:#dad4c1;
  line-height: 1.5;
}

ol {
  list-style: upper-roman;
}

ul {
 list-style: circle; 
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.banner-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 3px;
}

.banner-text {
  position: absolute;
  top: 200px; 
  left: 178px;
  font-size: 80px;
  font-weight: 800;
  color: rgba(252, 248, 234, 0.7);
}

.form-title {
  font-size: 48px;
  font-weight: 500;
  color: #dad4c1;
  padding-bottom: 18px;
  text-align: center;
}

.form-wrapper {
  padding: 22px 0;
}

.instructions {
  padding: 16px;
  border: 1px solid #24251d;
  background-color: #dad4c1;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #24251d;
  border-radius: 22px;
  font-family: "Playfair Display", serif;
}

.submit-button {
  margin-left: 12px;
  border: none;
  background-color: #dad4c1;
  color: #24251d;
  border-radius: 22px;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #42492b;
  color:#dad4c1;
  transition: 150ms ease-in-out;
}
.recipe-details {
  font-size: 16px;
  background-color: #262823;
  padding: 16px 22px;
  line-height: 1.5;
  border: 2px solid #494949;
  border-radius: 5px;
  color: #dad4c1;

}

.hidden {
  display: none;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}